version: '1.9.1.{build}'

init:
- ps: |
      $version = new-object System.Version $env:APPVEYOR_BUILD_VERSION
      $env:flowVersion = "{0}.{1}.{2}" -f $version.Major, $version.Minor, $version.Build
- sc config WSearch start= auto # Starts Windows Search service- Needed for running ExplorerTest
- net start WSearch

assembly_info:
  patch: true
  file: SolutionAssemblyInfo.cs
  assembly_version: $(flowVersion)
  assembly_file_version: $(flowVersion)
  assembly_informational_version: $(flowVersion)

skip_branch_with_pr: true

skip_commits:
  files:
    - '*.md'

image: Visual Studio 2019
platform: Any CPU
configuration: Release
before_build:
- ps: nuget restore
build:
  project: Flow.Launcher.sln
  verbosity: minimal
after_build:
  - ps: .\Scripts\post_build.ps1

artifacts:
- path: 'Output\Release\Flow.Launcher.Plugin.*.nupkg'
  name: Plugin nupkg
- path: 'Output\Packages\Flow-Launcher-*.exe'
  name: Squirrel Installer
- path: Output\Packages\Flow-Launcher-Portable.zip
  name: Portable Version
- path: 'Output\Packages\FlowLauncher-*-full.nupkg'
  name: Squirrel nupkg
- path: 'Output\Packages\RELEASES'
  name: Squirrel RELEASES

deploy:
  - provider: NuGet
    artifact: Plugin nupkg
    api_key:
      secure: M0FYTgnThhthw9FPAI51CR0l5/te1VSh914YbCtOfDTTLYgbA/Ii9R91sc5l5bAN
    on:
      APPVEYOR_REPO_TAG: true

  - provider: GitHub
    release: v$(flowVersion)
    auth_token:
      secure: ij4UeXUYQBDJxn2YRAAhUOjklOGVKDB87Hn5J8tKIzj13yatoI7sLM666QDQFEgv
    artifact: Squirrel Installer, Portable Version, Squirrel nupkg, Squirrel RELEASES
    draft: true
    force_update: true
    on:
      branch: master

  - provider: GitHub
    release: v$(flowVersion)
    auth_token:
      secure: ij4UeXUYQBDJxn2YRAAhUOjklOGVKDB87Hn5J8tKIzj13yatoI7sLM666QDQFEgv
    artifact: Squirrel Installer, Portable Version, Squirrel nupkg, Squirrel RELEASES
    force_update: true
    on:
      APPVEYOR_REPO_TAG: true

environment:
  winget_token:
    secure: HKfVT2FYZITAG0qqMCePYhIem5a/gzvAgYDSlr6RlXfGmeBUOANUtgJ9X6fNroxN
  choco_token:
    secure: Qfv/0dwpaCaAPsdC+yYRMqecNx8wvDHe4uWQvN4cappvuc0Swij14200//6uDDbY

on_success:
  - ps: |
        if ($env:APPVEYOR_REPO_BRANCH -eq "master" -and $env:APPVEYOR_REPO_TAG -eq "true")
        {
            echo "Deploy to WinGet"
            iwr https://github.com/microsoft/winget-create/releases/download/v0.2.0.29-preview/wingetcreate.exe -OutFile wingetcreate.exe
            .\wingetcreate.exe update Flow-Launcher.Flow-Launcher -s true -u https://github.com/Flow-Launcher/Flow.Launcher/releases/download/v$env:flowVersion/Flow-Launcher-Setup.exe -v $env:flowVersion -t $env:winget_token
            echo "Deploy to Chocolatey"
            choco new "Flow-Launcher" --version $env:flowVersion maintainername="Flow Launcher Team" maintainerrepo="https://github.com/Flow-Launcher/Flow.Launcher" url="https://github.com/Flow-Launcher/Flow.Launcher/releases/download/v$env:flowVersion/Flow-Launcher-Setup.exe" installertype="exe"
            cd ./flow-launcher
            cpack
            choco push flow-launcher.$env:flowVersion.nupkg --source https://push.chocolatey.org/ --api-key $env:choco_token
        }
