version: '1.6.0.{build}'

init:
- ps: |
      $version = new-object System.Version $env:APPVEYOR_BUILD_VERSION
      $env:flowVersion = "{0}.{1}.{2}" -f $version.Major, $version.Minor, $version.Build
- sc config WSearch start= auto # Starts Windows Search service- Needed for running ExplorerTest
- net start WSearch

assembly_info:
  patch: true
  file: SolutionAssemblyInfo.cs
  assembly_version: $(flowVersion)
  assembly_file_version: $(flowVersion)
  assembly_informational_version: $(flowVersion)

skip_commits:
  files:
    - '*.md'

image: Visual Studio 2019
platform: Any CPU
configuration: Release
before_build:
- ps: nuget restore
build:
  project: Flow.Launcher.sln
  verbosity: minimal
after_build:
  - ps: .\Scripts\post_build.ps1

artifacts:
- path: 'Output\Release\Flow.Launcher.Plugin.*.nupkg'
  name: Plugin nupkg
- path: 'Output\Packages\Flow-Launcher-*.exe'
  name: Squirrel Installer
- path: 'Output\Packages\FlowLauncher-*-full.nupkg'
  name: Squirrel nupkg
- path: 'Output\Packages\RELEASES'
  name: Squirrel RELEASES

deploy:
  - provider: NuGet
    artifact: Plugin nupkg
    api_key:
      secure: n80IeWR3pN81p0w4uXq4mO0TdTXoJSHHFL+yTB9YBJ0Wni2DjZGYwOFdaWzW4hRi
    on:
      branch: master

  - provider: GitHub
    release: v$(flowVersion)
    repository: JohnTheGr8/Flow.Launcher
    auth_token:
      secure: /JyhWb33OM0SbDzwxApk/j/RRzlj3RZG1D0fBjDBvt2om4zvv3ORB8/Vnh/yOsRb
    artifact: Squirrel Installer, Squirrel nupkg, Squirrel RELEASES
    draft: true
    force_update: true
    on:
      branch: master
      APPVEYOR_REPO_TAG: false

  - provider: GitHub
    release: v$(flowVersion)
    repository: JohnTheGr8/Flow.Launcher
    auth_token:
      secure: /JyhWb33OM0SbDzwxApk/j/RRzlj3RZG1D0fBjDBvt2om4zvv3ORB8/Vnh/yOsRb
    artifact: Squirrel Installer, Squirrel nupkg, Squirrel RELEASES
    force_update: true
    on:
      branch: master
      APPVEYOR_REPO_TAG: true