name: Assign PR to creator

on:
  pull_request:
    types: [opened]
    branches-ignore:
      - l10n_dev

permissions:
  pull-requests: write

jobs:
  automation:
    runs-on: ubuntu-latest
    steps:
    - name: Assign PR to creator
      uses: toshimaru/auto-author-assign@v2.1.1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
